/EstructuraDatos_parcial01_TrenVida/nbproject/private/
/JavaApplication16/nbproject/private/
/EstructuraDatos_parcial01_TrenVida/dist/
/EstructuraDatos_parcial01_TrenVida/build/
/EstructuraDatos_taller04_listadoble/build/
/EstructuraDatos_taller04_listadoble/dist/
/EstructuraDatos_taller04_listadoble/nbproject/private/
/Red_Social/nbproject/private/
/estructuraDtos_taller05_redSocial/nbproject/private/
/is_parcial01_CompuShop/nbproject/private/
/is_parcial01_CompuShop/build/
/EstructuraDatos_listaSimple_juegoEquipos/nbproject/private/
/EstructuraDatos_listaSimple_juegoEquipos/build/
/ES_tarea_listaCircularSimple/nbproject/private/
/EstrucDatos_taller06_sillaMusical/nbproject/private/
/EstrucDatos_taller06_sillaMusical/build/
/JavaApplication23/nbproject/private/
/ed_taller09_LIFO/nbproject/private/
/ed_taller09_LIFO/build/
/ed_taller10_historialWeb/nbproject/private/
/ed_taller10_historialWeb/build/
/Gestion_Memoria/nbproject/private/
/Gestion_Memoria/build/
/BLOCKBUSTER/nbproject/private/
/ed_taller01_banco_ED/build/
/BLOCKBUSTER/build/
/notacion_polaca/nbproject/private/
/notacion_polaca/build/
/ed_taller10_incriptacion/nbproject/private/
/ed_taller10_incriptacion/build/
/ed_taller11_colaBanco/nbproject/private/
